* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bitter", serif;
}

h1 {
    color: #d62b57;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 16px;
}

h2 {
    color: #d62b57;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: #493409;
    padding: 8px;
}

.banner {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)), url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    padding-top: 60px;
    border-bottom: 1px solid #d62b56a2;
    display: flex;
    justify-content: center;
}

.banner-content {
    text-align: center;
}

.banner img {
    height: 220px;
}

.banner p {
    margin: 16px 0 24px;
    font-style: italic ;
}

button {
    background: none;
    padding: 15px;
    margin-bottom: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #d62b56a2;
    color: #d62b57;
    font-weight: bold;
}

.center {
    text-align: center;
}

body {
    background-color: #f8f0e1;
}

section {
    margin: 80px auto;
}

.class {
    border: 1px solid #493409;
    width: 35%;
    padding: 15px;
    margin: 24px auto;
    border-radius: 90px;
}

.class span {
    color: #d62b57;
    font-weight: bold;
}

.classes-list {
    margin: 24px;
}

#phrase {
    background-image: linear-gradient(rgba(129, 78, 91, 0.39), rgba(107, 11, 35, 0.39), rgba(129, 78, 91, 0.39)), url(./assets/biblioteca.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 560px;
}

#phrase p {
    color: #f8f0e1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    text-shadow: 3px 2px #493409;
    text-align: left;
    padding: 15% 10%;
}

.lady {
    display: flex;
    margin: 0 auto;
    padding: 15px;
    gap: 10px;
    width: 40%;
    text-align: left;
    align-items: center;
}

.lady img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.lady ion-icon {
    color: gold;
}

.lady p, strong {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d62b56ce;
    margin: auto 0;
}

.closing {
    margin-top: 50px;
}

footer {
    border-top: 1px solid #d62b5641;
    text-align: center;
    margin: auto 0;
    padding: 80px;
    color: black;
    background: linear-gradient(#f8f0e1, #d62b562a);
}

footer a {
    color: #d62b57;
}